@import "tailwindcss";

@plugin "daisyui" {
    themes: all;
}

body {
    font-family: "Inter", "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background-color: #f8f1e7;
    color: #2f2a24;
}